<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- Déplacement du menu 'Messages' dans le menu 'Technique' -->
        <menuitem   
            id="mail.menu_root_discuss"
            parent="base.menu_custom"
        />

        <menuitem
            name="DGET"
            id="is_dget_main_menu"
            sequence="1"
        />
        <menuitem   
            name="Adresses"  
            id="is_adresses_menu"
            parent="is_dget_main_menu"
            sequence="10"
            action="is_adresses_action"
        />

     <!-- Concours -->
        <!-- <menuitem   
            name="Concours"  
            id="is_concours_main_menu"
            parent="is_dget_main_menu"
            sequence="15"
            action="is_concours_action"
        />
 -->
        <record id="is_concours_main_menu" model="ir.ui.menu" >
            <field name="name">Concours</field>
            <field name="sequence">15</field>
            <field name="action"    ref="is_concours_action"/>
            <field name="parent_id" eval="ref('is_dget_main_menu')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>




        <!-- Dossiers -->
        <menuitem   
            name="Dossiers"  
            id="is_dossier_main_menu"
            parent="is_dget_main_menu"
            sequence="20"
            action="is_dossier_action"
        />


        <!-- Contrats -->
        <!-- <menuitem   
            name="Contrats"  
            id="is_contrat_main_menu"
            parent="is_dget_main_menu"
            sequence="25"
        /> -->

        <record id="is_contrat_main_menu" model="ir.ui.menu" >
            <field name="name">Contrats</field>
            <field name="sequence">25</field>
            <field name="parent_id" eval="ref('is_dget_main_menu')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>



        <menuitem
            id="is_dossier_contrat_restant_menu"
            name="Contrats en cours"
            parent="is_contrat_main_menu"
            sequence="10"
            action="is_dossier_contrat_restant_action"
        />
        <menuitem
            id="is_dossier_contrat_facturable_menu"
            name="Contrats facturables"
            parent="is_contrat_main_menu"
            sequence="10"
            action="is_dossier_contrat_facturable_action"
        />

        <menuitem
            id="is_dossier_contrat_menu"
            name="Tous les contrats"
            parent="is_contrat_main_menu"
            sequence="20"
            action="is_dossier_contrat_action"
        />
        <menuitem
            id="is_dossier_contrat_detail_menu"
            name="Détail Contrat"
            parent="is_contrat_main_menu"
            sequence="30"
            action="is_dossier_contrat_detail_action"
        />



        <!-- Heures -->
        <menuitem   
            name="Heures"  
            id="is_salarie_heure_menu"
            parent="is_dget_main_menu"
            sequence="27"
            action="is_salarie_heure_action"
        />




        <!-- Factures -->
        <!-- <menuitem   
            name="Factures"  
            id="is_account_invoice_menu"
            parent="is_dget_main_menu"
            sequence="30"
            action="is_account_invoice_action"
        /> -->
        <record id="is_account_invoice_menu" model="ir.ui.menu" >
            <field name="name">Factures</field>
            <field name="sequence">30</field>
            <field name="action"    ref="is_account_invoice_action"/>
            <field name="parent_id" eval="ref('is_dget_main_menu')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>



        <!-- Factures -->
        <!-- <menuitem   
            name="Déclaration MAF"  
            id="is_declaration_maf_menu"
            parent="is_dget_main_menu"
            sequence="35"
            action="is_declaration_maf_action"
        />
 -->
        <record id="is_declaration_maf_menu" model="ir.ui.menu" >
            <field name="name">Déclaration MAF</field>
            <field name="sequence">35</field>
            <field name="action"    ref="is_declaration_maf_action"/>
            <field name="parent_id" eval="ref('is_dget_main_menu')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>


        <!-- Documentation -->
        <menuitem   
            name="Documentation"  
            id="is_documentation_menu"
            parent="is_dget_main_menu"
            sequence="40"
            action="is_documentation_action"
        />


        <!-- Tables -->
        <record id="is_tables_menu" model="ir.ui.menu" >
            <field name="name">Tables</field>
            <field name="sequence">90</field>
            <field name="parent_id" eval="ref('is_dget_main_menu')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>
        <menuitem
            id="is_classement_menu"
            name="Classement"
            parent="is_tables_menu"
            sequence="10"
            action="is_classement_action"
        />
        <menuitem
            id="is_specialite_menu"
            name="Spécialité"
            parent="is_tables_menu"
            sequence="20"
            action="is_specialite_action"
        />
        <menuitem
            id="is_res_partner_title_menu"
            name="Titre"
            parent="is_tables_menu"
            sequence="30"
            action="is_res_partner_title_action"
        />
        <menuitem
            id="is_classement_fournisseur_menu"
            name="Classement Fournisseur"
            parent="is_tables_menu"
            sequence="40"
            action="is_classement_fournisseur_action"
        />
        <menuitem
            id="is_tva_menu"
            name="TVA"
            parent="is_tables_menu"
            sequence="50"
            action="is_tva_action"
        />


        <menuitem
            id="is_table_dossier_menu"
            name="Dossier"
            parent="is_tables_menu"
            sequence="60"
        />
        <menuitem
            id="is_dossier_reference_menu"
            name="Référence"
            parent="is_table_dossier_menu"
            sequence="10"
            action="is_dossier_reference_action"
        />
        <menuitem
            id="is_dossier_contrat_traitance_menu"
            name="Traitance Contrat"
            parent="is_table_dossier_menu"
            sequence="20"
            action="is_dossier_contrat_traitance_action"
        />



        <menuitem
            id="is_dossier_contrat_phase_menu"
            name="Phase Contrat"
            parent="is_table_dossier_menu"
            sequence="30"
            action="is_dossier_contrat_phase_action"
        />

        <menuitem
            id="is_dossier_code_assurance_menu"
            name="Code assurance"
            parent="is_table_dossier_menu"
            sequence="40"
            action="is_dossier_code_assurance_action"
        />




    </data>
</odoo>
