<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- Déplacement du menu 'Messages' dans le menu 'Technique' -->
        <menuitem   
            id="mail.menu_root_discuss"
            parent="base.menu_custom"
        />

        <menuitem
            name="DGET"
            id="is_dget_main_menu"
            sequence="1"
        />
        <menuitem   
            name="Adresses"  
            id="is_adresses_menu"
            parent="is_dget_main_menu"
            sequence="10"
            action="is_adresses_action"
        />

        <menuitem   
            name="Dossiers"  
            id="is_dossier_menu"
            parent="is_dget_main_menu"
            sequence="20"
            action="is_dossier_action"
        />


        <menuitem   
            name="Documentation"  
            id="is_documentation_menu"
            parent="is_dget_main_menu"
            sequence="30"
            action="is_documentation_action"
        />


        <menuitem   
            name="Tables"  
            id="is_tables_menu"
            parent="is_dget_main_menu"
            sequence="90"
        />
        <menuitem
            id="is_classement_menu"
            name="Classement"
            parent="is_tables_menu"
            sequence="10"
            action="is_classement_action"
        />
        <menuitem
            id="is_specialite_menu"
            name="Spécialité"
            parent="is_tables_menu"
            sequence="20"
            action="is_specialite_action"
        />

        <menuitem
            id="is_res_partner_title_menu"
            name="Titre"
            parent="is_tables_menu"
            sequence="30"
            action="is_res_partner_title_action"
        />

        <menuitem
            id="is_classement_fournisseur_menu"
            name="Classement Fournisseur"
            parent="is_tables_menu"
            sequence="40"
            action="is_classement_fournisseur_action"
        />


        <menuitem
            id="is_table_dossier_menu"
            name="Dossier"
            parent="is_tables_menu"
            sequence="50"
        />
        <menuitem
            id="is_dossier_reference_menu"
            name="Référence"
            parent="is_table_dossier_menu"
            sequence="10"
            action="is_dossier_reference_action"
        />


        <menuitem
            id="is_dossier_contrat_traitance_menu"
            name="Traitance Contrat"
            parent="is_table_dossier_menu"
            sequence="20"
            action="is_dossier_contrat_traitance_action"
        />


        <menuitem
            id="is_dossier_contrat_menu"
            name="Contrat"
            parent="is_table_dossier_menu"
            sequence="30"
            action="is_dossier_contrat_action"
        />



    </data>
</odoo>
